 <style>
body {background-color: darkcyan;}
        h1 {background-color: purple;}
        h2 {text-align: end;}
        h3 {background-color: red;} 
        p {text-align: center;}  
    </style>